/* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); } */


body.splash {
	border-top: none;
}

body.splash p {
	border-top: 0px;
	font-size: 1.2em;
	color: #333;
}

.seal-wrap {
	margin: 30px auto;
}


.headline {
	margin: 0 auto;
	width: 600px;
	text-align: center;
	font-size: 1em;
	color: #333;
}


.hero-body {
	margin: 0 auto;
	width: 540px;
	color: #efefef;

}

.hero-body a {
	text-decoration: underline;
}


#text-wrapper {
	margin: 50px auto;
	width: 600px;
	text-align: left;
}

#text-wrapper span {
	font-weight: 500;
	color: #000;
}

#buckets {
	background: #efefef
	color: #333;
}

#buckets h2 {
	top-margin: 50px;
	padding-top: 60px;
	width: 540px;
	font-size: 1.8em;
	line-height: 1.2em;
	font-weight: 500;
	color: #333;

}

#buckets h3 {
	font-weight: 700;
	font-size: 1.3em;
	width: 480px;
	margin-bottom: -1em;
	line-height: 1.2em;
	color: #0e7599;
}

#buckets p {
	font-size: 1em;
}


.bucket {
	display: inline-block;
	width: 330px;
	padding-bottom: 60px;
}

#verified {
	padding-top: 70px;
	padding-bottom: 40px;
	margin: 0 auto;
	width: 50%;
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: 500;
	text-align: center;
	color: #333;
}

#partner-wrapper {
	margin: 0 auto;
	width: 800px;
	height: 200px;
}

#partner-wrapper img {
	margin-left: 50px;
	
}

#partner-wrapper li {
	text-align: left;
	padding-left: 50px;
}

#trubrain {
	float: left;
	
}

#aloha {
	float: left;
}

#sundaily {
	float: left;
	
}

footer {
	margin-bottom: 50px;
}


body.splash #wrapper {
	padding-top: 140px;
}


/* MEDIA QUERIES */

@media (max-width: 750px) {

	.headline {
	
	width: 90%;
	
}


.hero-body {
	
	width: 80%;
	
}

#bucket-wrapper {
	margin: 50px auto;
	width: 90%;
	text-align: left;
}

#buckets h3 {
	width: 90%;
}

#partner-wrapper {
	
	width: 90%;
	
}

#buckets h2 {
	width: 90%;
}

#partner-wrapper img {
	margin-top: 30px;
	display: block;
	
}

footer {
	margin-top: 330px;
	margin-left: 10%;
	width: 80%;
	font-size: .8em;
}

}